# --- Python basics ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# --- Virtual environments ---
.venv/
venv/
env/
ENV/
.venv-wheel/
Lib/
Scripts/
bin/
Include/
pyvenv.cfg

# --- Jupyter ---
.ipynb_checkpoints/

# --- Build & packaging ---
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# --- Logs & temp files ---
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# --- IDE / editor files ---
.vscode/
.idea/
*.iml
